-- OPERATIONAL HRIS ENHANCEMENT
-- 1. Organization Hierarchy
ALTER TABLE profiles ADD COLUMN IF NOT EXISTS reports_to UUID REFERENCES profiles(id);

-- 2. Asset Management (Inventaris)
CREATE TABLE IF NOT EXISTS company_assets (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL, -- E.g., 'MacBook Pro 2023', 'Honda Vario'
    serial_number TEXT UNIQUE,
    category TEXT CHECK (category IN ('electronics', 'vehicle', 'furniture', 'tools', 'other')),
    status TEXT DEFAULT 'available' CHECK (status IN ('available', 'assigned', 'broken', 'lost', 'maintenance')),
    assigned_to UUID REFERENCES profiles(id),
    purchase_date DATE,
    value NUMERIC,
    notes TEXT,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

-- 3. Skills & Certification
CREATE TABLE IF NOT EXISTS employee_skills (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
    skill_name TEXT NOT NULL,
    proficiency_level TEXT CHECK (proficiency_level IN ('beginner', 'intermediate', 'advanced', 'expert')),
    is_certified BOOLEAN DEFAULT false,
    expiry_date DATE,
    created_at TIMESTAMPTZ DEFAULT now()
);
